@font-face {
	font-family: 'Obviously';
	/*src: local("Obviously"),*/
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/Ob-Regular.woff2') format('woff2'), url('/fonts/Ob-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Obviously';
	/*src: local("Obviously"),*/
	font-weight: normal;
	font-style: italic;
	src: url('/fonts/Ob-Italic.woff2') format('woff2'), url('/fonts/Ob-Italic.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Obviously';
	/*src: local("Obviously"),*/
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/Ob-Semibold.woff2') format('woff2'),
		url('/fonts/Ob-Semibold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'ObviouslyExt';
	/*src: local("Obviously"),*/
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/Ob-Extended_Bold.woff2') format('woff2'),
		url('/fonts/Ob-Extended_Bold.woff') format('woff');
	font-display: swap;
}

html {
	font-family: 'Obviously', sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'ObviouslyExt', sans-serif;
	text-wrap: balance;
}
p {
	text-wrap: pretty;
}

@supports (-webkit-text-stroke: 1px black) {
	h1,
	h2 {
		-webkit-text-stroke: 1px black;
		-webkit-text-fill-color: white;
	}
}

p + p {
	margin-block: 1em;
}

a:not(.button) {
	color: inherit;
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}
a:not(.button):hover {
	color: var(--green);
	text-decoration: underline;
	transform: translate(-2px, -2px);
	text-shadow: black 4px 4px 0;
}
