:root {
	--width-outer: 90vw;
	--width-inner: 815px;
	--pink: #C8D500;
	--green: #37ad60;
	--yellow: #e4df00;
}
@media (min-width: 1600px) {
	:root {
		--width-outer: 1500px;
		/*--width-inner: calc(var(--width-outer) - 20rem);*/
	}
}
@media (max-width: 1100px) {
	:root {
		--width-outer: 95vw;
		--width-inner: calc(var(--width-outer) - 5vw);
	}
	html {
		font-size: 0.8rem;
	}
}

body {
	background: url("/FS_Website_Hintergrund-cut.svg");
	background-repeat: repeat-y;
	background-position-x: center;
	/*background-size: 100% auto;*/
	background-size: 1920px;
	scroll-padding-top: 2rem;
}
/*body:after {*/
/*	position: fixed;*/
/*	content: "";*/
/*	inset: 0;*/
/*	z-index: -100;*/

/*    background: linear-gradient(90deg, rgba(239,111,31,1) 0%, rgba(239,111,31,1) 40%, rgba(49,172,98,1) 59%, rgba(49,172,98,1) 100%);*/
/*}*/
/*body:before {*/
/*	display: none;*/
/*	content: "";*/
/*	position: absolute;*/
/*	height: 100%;*/
/*	inset: 0;*/
/*	z-index: -1;*/

/*	background: url("/FS_Website_Hintergrund-cut.svg");*/
/*	background-repeat: repeat-y;*/
/*	background-position-x: center;*/
/*	!*background-size: 100% auto;*!*/
/*	background-size: 1920px;*/
/*}*/

.logo {
	width: var(--width-outer);
	/*min-height: 100vh;*/
	margin: 0 auto;
	padding-top: 2rem;
	display: block;
}
.inner {
	width: var(--width-inner);
	margin: 0 auto;
}
.outer {
	width: var(--width-outer);
	margin: 0 auto;
}
.content {
	background-color: var(--pink);
	margin-block: 3rem;
	padding: 1rem 2rem;
	font-size: 1.2rem;
}
.content :where(h1, h2, h3, h4, h5) {
	padding-block-start: 1em;
	padding-block-end: 0.5em;
	font-size: 1.3em;
	font-family: 'Obviously', sans-serif;
	line-height: 1.2em;
}

.headline .date {
	font-size: 0.8em;
}


.headline-dynamic h1 {
	padding: 0;
	margin-block-start: -0.4em;
	margin-block-end: -0.3em;
	margin-left: -0.1em;
	display: inline-block;
	font-size: 3.3rem;
}
@media (max-width: 768px) {
	.headline-dynamic h1 {
		font-size: 1.5rem;
	}
}
